wroot/test/Project3/xsd/xsltConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.NiX0n.org/CIT220/Project3/xsltConfig" targetNamespace="http://www.NiX0n.org/CIT220/Project3/xsltConfig">
    <element name="xsltConfig">
    <complexType>
    	<sequence>
		    <element name="param" maxOccurs="unbounded" minOccurs="0">
		    <complexType>
		        <attribute name="name" type="string"></attribute>
			    <attribute name="value" type="string"></attribute>
		    </complexType>
		    </element>
    	</sequence>
    </complexType>
    </element>
</schema>